action_msgs==1.2.1
ament_copyright==0.12.12
ament_flake8==0.12.12
ament_index_python==1.4.0
ament_pep257==0.12.12
geometry_msgs==4.8.0
launch_ros==0.19.9
nav2_msgs==1.1.18
numpy==1.22.0
numpy==1.21.5
openai==1.86.0
protobuf==6.31.1
py_trees==2.3.0
PyQt5==5.15.11
PyQt5_sip==12.9.1
pytest==6.2.5
python-dotenv==1.1.0
pyttsx3==2.98
rcl_interfaces==1.2.1
rclpy==3.3.16
setuptools==69.2.0
setuptools==59.6.0
sounddevice==0.5.2
soundfile==0.13.1
std_msgs==4.8.0
torch==2.7.0
transformers==4.52.3
TTS==0.22.0
TTS==0.22.0
whisper==1.1.10
